// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: #262c33 url('http://blog.hsatac.net/images/line-tile.png?1348854177') top left;
  body {
    max-width: 1070px;

    header {
      padding-left: 0;
      background: inherit;
      h1 {
        font-family: "League",Helvetica,Arial,sans-serif;
      }
    }
    nav {
      -moz-border-radius: 0.4em;
      -webkit-border-radius: 0.4em;
      border-radius: 0.4em;
      margin-bottom: 2em;
    }
    #main {
      -moz-border-radius-topleft: 0.4em;
      -moz-border-radius-topright: 0.4em;
      -webkit-border-radius: 0.4em 0.4em 0 0;
      border-radius: 0.4em 0.4em 0 0;
    }
  }
}

